@font-face {
  font-family: "raleway";
  font-weight: 300;
  src: url("/tanatech_website/static/src/fonts/raleway-Light.ttf") format("truetype");
}
@font-face {
  font-family: "raleway";
  font-weight: 300;
  font-style: italic;
  src: url("/tanatech_website/static/src/tanatech_website/static/src/fonts/raleway-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "raleway";
  font-weight: 400;
  src: url("/tanatech_website/static/src/fonts/raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "raleway";
  font-weight: 400;
  font-style: italic;
  src: url("/tanatech_website/static/src/fonts/raleway-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "raleway";
  font-weight: 700;
  src: url("/tanatech_website/static/src/fonts/raleway-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "raleway";
  font-weight: 700;
  font-style: italic;
  src: url("/tanatech_website/static/src/fonts/raleway-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "raleway";
  font-weight: 700;
  font-style: italic;
  src: url("/tanatech_website/static/src/fonts/raleway-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "raleway-variable";
  font-weight: 700;
  font-style: italic;
  src: url("/tanatech_website/static/src/fonts/raleway-VariableFont_wght.ttf") format("truetype");
}