.btn-primary {
    background-color: #96BC1F;
    border: 0cm ;
}

.title {
  height: 50px;
  padding-left: 5px;
}

.title:hover{
    background-color: #f1f1f1;
    border: solide 1px;
    border-color: #3b3b3b;
}